@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    border: solid 1px lightgray;
}

h1 {
    text-align: center;
    font-weight: 100;
    font-size: 5em;
    color: blue;
}

.container-task {
    border: solid 1px lightgray;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.20),
    0 10px 0 -5px #ffc,
    0 10px 1px -4px rgba(0,0,0,0.20),
    0 20px 0 -10px #ffc,
    0 20px 1px -9px rgba(0,0,0,0.20);
    padding: 30px;
}

input {
    border: none;
	border-bottom: solid 1px lightgray;
	width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}
ul {
    list-style: none;
    margin-top: 10px;
}
li {
    font-size: 25px;
    margin-bottom: 5px;
    padding: 5px 0px;
}
.fa, .fas {
    float: right;
    margin-right: 15px;
}
.fa:hover, .fas:hover {
    color: red;
}

p {
    font-size: 10px;
    color: gray;
    margin: 5px;
    float:left
}